body {
  font-family: sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #E0F2F7;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
}

input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px;
  border: none;
  background-color: #333;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}