<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="index.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^index.js/[0-9a-z]+\.js$" />
        </rule>
        <rule name="StaticContent">
          <action type="Rewrite" url="public{REQUEST_URI}" />
        </rule>
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.js" />
        </rule>
      </rules>
    </rewrite>
    <iisnode 
      node_env="production"
      nodeProcessCountPerApplication="1"
      maxConcurrentRequestsPerProcess="1024"
      maxNamedPipeConnectionRetry="9"
      namedPipeConnectionRetryDelay="250"
      maxClientRootRequests="10000"
      maxLogFileSizeInKB="128"
      loggingEnabled="true"
      devErrorsEnabled="true"
      flushResponse="false"
      watchedFiles="*.js;web.config"
      node_console_log_path="iisnode"
      node_debug_port="5858"
      debuggerExtensionDll="iisnode-inspector.dll"
      />
  </system.webServer>
</configuration>